<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ruka">
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ruka_hand urdf file -->
    <xacro:include filename="$(find ruka)/config/ruka.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find ruka)/config/ruka.ros2_control.xacro" />
    <xacro:include filename="$(find ruka)/config/imu.ros2_control.xacro" />


    <xacro:ruka_ros2_control name="RukaSystemController" initial_positions_file="$(arg initial_positions_file)"/>
    
     <xacro:ruka_ros2_sensor
     name="RukaSensorSee" prefix="$(arg prefix)"
      />

</robot>
